/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    src: url('../css/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    src: url('../css/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

/* kalam */
@font-face {
    font-family: 'Kalam';
    src: url('../css/fonts/Kalam-Bold.ttf') format('truetype');
    src: url('../css/fonts/Kalam-Light.ttf') format('truetype');
    src: url('../css/fonts/Kalam-Regular.ttf') format('truetype');
}

/* Playfair */
@font-face {
    font-family: 'Playfair';
    src: url('../css/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

/* Rokkitt */
@font-face {
    font-family: 'Rokkitt';
    src: url('../css/fonts/Rokkitt-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('../css/fonts/Rokkitt-VariableFont_wght.ttf') format('truetype');
}
